
/* COMMON */
#lezioni,
#steps,
#why {
  text-align: center;
}

#lezioni,
#steps,
#why h1{
    padding-top: 20px;
}    

img {
    height: 200px;
}

.container [class*="col-"] {
    padding: 40px;
}

.container.grey {
    background-color: #f9f9f9;
  }

/* BLOCCO LEZIONI */
#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}


/* BLOCCO STEPS */



/* BLOCCO PERCHE */
#why hr { 
    margin-top: 40px;
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* Media Query */

/* XS media query */

@media all and (max-width: 767px) {
    #lezioni {
        background-color: #B0E0E6;
    }
    #steps {
        background-color:#66CDAA;
    }
    #why{
        background-color: #AFEEEE;
    }
}

/* MD media query */
@media all and (min-width: 768px) and (max-width: 991px) {
    #lezioni {
        background-color: #E0FFFF;
    }
    #steps {
        background-color: #D8BFD8;
    }
    #why{
        background-color: #FFE4E1;
    }
}

